.router-view-enter-active, .router-view-leave-active {
  transition: transform 0.35s;
}
.router-view-enter, .router-view-leave-active {
  transform: translateX(100%);
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.4s ease;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
