.base-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

/* === animations === */

.router-view-enter-active, .router-view-leave-active {
  transition: transform 0.35s;
}
.router-view-enter, .router-view-leave-active {
  transform: translateX(100%);
}
.page-enter-active, .page-leave-active {
  transition: opacity 0.4s ease;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.animation-shake {
  animation-duration: 0.05s;
  animation-name: shake;
  animation-iteration-count: 5;
  animation-direction: normal;
}

@keyframes shake {
  from {
    transform: translateX(0)
  }
  25% {
    transform: translateX(-5%)
  }
  75% {
    transform: translateX(5%)
  }
  to {
    transform: translateX(0)
  }
}
